.stranka {
    color: darkslategrey;
    line-height: 1.5;
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
    background-color: azure;
    border: 1px solid darkslategrey;
    width: 1000px;
    margin: 50px auto;
    padding: 60px;
}

header {
    text-align: center;
}

.hlavicka {
    display: flex;
    align-items: center;
    background-color: darkslategrey;
    color: azure;
    height: 360px;
    margin-bottom: 100px;
    border-radius: 180px 0 0 180px;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

h3 {
    font-size: 35px;
    margin: 20px 0 5px 0;
}

h4 {
    margin: 0;
    font-size: 30px;
    font-style: italic;
}

.foto {
    border-radius: 50%;
    width: 350px;
    margin-right: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    position: relative;
    left: 0px
}

.omne {
    text-align: center;
    border: 2px solid darkslategrey;
    padding: 20px;
    margin: 0;
}

main {
    display: flex;
}

.dovednosti img {
    width: 50px;
    margin-left: 50px;
}

.zkusenosti, 
.dovednosti {
    padding: 10px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 5px;
    font-size: 16px;
    background-color: darkslategrey;
    color: azure;
}

footer div {
    display: flex;
    align-content: center;
    align-items: center;
}

footer img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.email a {
    font-size: 1.5em;
    font-weight: bold;
    color: azure;
}